.project-container {
  display: grid;
  position: relative;
  background-image: linear-gradient(150deg, #356796, #072dd7);
  border-radius: 2.5rem 0;
  overflow: hidden;
}

.coming-soon {
  position: absolute;
  z-index: 2;
  height: 95%;
  width: 95%;
  top: 2.5%;
  left: 2.5%;
  background-color: #0000007e;
  backface-visibility: hidden;
  backdrop-filter: blur(20px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.project-info-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  border-style: solid;
  border-width: 2px;
  border-radius: 2.5rem 0;
  background-color: rgb(11, 11, 11);
  border-color: transparent;
  background-clip: padding-box;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease;
  justify-items: center;
  gap: 10%;
}

.project-info-container:hover {
  background-color: transparent;
}

.project-title-container {
  font-variant: small-caps;
  font-weight: 600;
  font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 2rem;
  text-decoration: underline;
  text-transform: capitalize;
  height: 10%;
  width: 90%;
  border-radius: 2rem;
  padding: 0 5%;
  display: flex;
  align-items: center;
}

.project-title {
  width: 100%;
  color: white;
}

.project-title-container:hover .project-title {
  cursor: pointer;
  color: yellow;
}
.arrow-project {
  font-size: 40px;
  width: 0;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  overflow: hidden;
  color: rgb(255, 255, 255);
  position: relative;
}

.project-info-container:hover > .project-title-container > .arrow-project {
  width: 50px;
}

.click-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.click-div:hover {
  cursor: pointer;
}

.project-description-container {
  width: 100%;
  height: 80%;
  font-size: 1.2rem;
  border-radius: 2rem 2rem 0 0;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(8px);
  backface-visibility: hidden;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.project-description {
  padding: 2rem;
  height: 80%;
  background-color: #0000006c;
}
