.skills-container {
  background-color: rgb(10, 10, 10);
  height: 40vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.skills-section-container {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills-sections {
  height: 100%;
  width: 80%;
  grid-template-rows: repeat(3, 4fr);
  display: grid;
  align-items: center;
  gap: 2%;
  position: relative;
}

.skills-section {
  width: 98%;
  height: 100%;
  color: white;
  display: flex;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
  position: relative;
}

.skills-logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  animation-name: marqueeAnimation;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.devops-skills > .skills-logo-container {
  animation-direction: reverse;
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.section-skill {
  display: none;
}

.skills-section:hover .section-skill {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.774);
  backdrop-filter: blur(20px);
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  animation-name: fadingSkills;
  animation-duration: 1s;
  cursor: alias;
}

@keyframes fadingSkills {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 821px) {
  .skills-sections {
    width: 95%;
  }
}
