.skill-container {
  /* background-color: rgba(197, 197, 197, 0.428); */
  width: 8rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-title-container {
  color: white;
  font-family: "Roberto", sans-serif;
  font-weight: 100;
}
.skill-container > svg {
  font-size: 5rem;
}

@media screen and (max-width: 821px) {
  .skill-container {
    width: 6rem;
  }
}
