.navbar-container {
  position: fixed;
  width: 100%;
  height: 10%;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  color: aliceblue;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  z-index: 3;
}

.main-logo-container {
  /* font-family: "Vollkorn", serif; */
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.main-logo {
  height: 80%;
  width: 80px;
  margin-left: 5%;
  object-fit: contain;
}

.nav-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 400;
}
.nav-links {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
  flex-direction: column;
}

.nav-link-text {
  transition-duration: 1s;
}

.underline-effect {
  border-radius: 5rem;
  transition-duration: 01s;
  width: 5%;
  height: 5px;
  background-color: #00aaa9;
  box-shadow: 0rem 0rem 1rem 0.2rem #00aaa9;
}

.nav-link:hover .underline-effect {
  border-radius: 5rem;
  width: 90%;
}

.nav-link:hover {
  cursor: pointer;
  font-size: 1.6rem;
  text-shadow: 0rem -0.5rem 1rem rgb(255, 255, 255);
}

.nav-extra {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn {
  background-color: #00aaa9;
  width: 25%;
  height: 50%;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  transition-duration: 0.6s;
}

.login-btn:hover {
  font-size: 1.6rem;
  background-color: #00aaa9;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0rem 0rem 1rem 0.1rem #00aaa9;
}

.nav-links-folded {
  display: none;
}

@media screen and (min-width: 820px) {
  .nav-links-container {
    display: flex;
  }
}

@media screen and (max-width: 821px) {
  .navbar-container {
    grid-template-columns: 3fr 9fr;
  }

  .nav-links-container {
    display: none;
    position: absolute;
    height: 500px;
    width: 80%;
    right: 3%;
    top: 15%;
    background-color: #252424ea;
  }

  .nav-links {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(6, 2fr);
    justify-content: center;
    align-items: center;
  }

  .nav-extra {
    justify-content: end;
    padding-right: 2rem;
  }

  .login-btn {
    display: none;
  }

  .nav-links-folded {
    display: flex;
    height: 70%;
    width: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    z-index: 4;
  }

  .nav-links-folded:active {
    background-color: #282828;
  }

  .folded-divs {
    background-color: aliceblue;
    height: 15%;
    width: 80%;
    border-radius: 2rem;
  }
}
